#employmentHistory {
  display: grid;
  grid-template-columns: 10mm auto;
  grid-template-rows: auto;
  grid-template-areas:
    'icon title'
    'jobDescription jobDescription';
  width: 100%;
  margin-top: 15mm;

  img {
    grid-area: icon;
    width: 10mm;
  }

  > h1 {
    grid-area: title;
    align-self: center;
    padding-left: 5mm;
    font-size: 6mm;
    font-weight: 600;
  }

  .jobHistory {
    grid-area: jobDescription;
    font-size: 3.5mm;

    > section {
      display: flex;
      flex-direction: column;

      h1 {
        margin-top: 3mm;
        font-weight: 700;

        span {
          font-weight: normal;
        }
      }

      time {
        font-size: 2.5mm;
        color: #000000bf;
      }
    }
  }
}
