#personalInformation {
  h1 {
    font-size: 9mm;
    font-weight: normal;
    letter-spacing: -0.5px;
    margin: 5mm 0;
  }

  section {
    display: flex;
    margin-bottom: 1mm;
    img {
      width: 5mm;
      height: 5mm;
      margin-right: 3mm;
    }

    p {
      margin: 0;
      font-size: 3mm;
    }
  }
}
