.resume {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    'print print'
    'personalInfo personalInfo'
    'jobExperience skills';
  width: 210mm;
  padding: 5mm 0;
  margin: 5mm 0;
  box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
  font-family: 'Open Sans', sans-serif;
  @media print {
    box-shadow: none;
    margin: 0;
  }

  > section {
    margin: 0 5mm;

    &.printButton {
      grid-area: print;
      justify-self: end;
    }

    &.personalInformation {
      grid-area: personalInfo;

      @media print {
        margin-top: 5mm;
      }
    }

    &.jobExperience {
      grid-area: jobExperience;
      padding-right: 25mm;
      margin-right: 0;
    }

    &.skills {
      grid-area: skills;
    }
  }
}
