#professionalSummary {
  display: grid;
  grid-template-columns: 10mm auto;
  grid-template-rows: auto;
  grid-template-areas:
    'icon title'
    'summary summary';
  margin-top: 15mm;

  img {
    grid-area: icon;
    width: 10mm;
  }

  h1 {
    grid-area: title;
    align-self: center;
    padding-left: 5mm;
    font-size: 6mm;
    font-weight: 600;
  }

  section {
    grid-area: summary;
    font-size: 3.5mm;
  }
}
