#printButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10mm;
  width: 25mm;
  border: none;
  border-radius: 1mm;
  padding: 3mm;

  .printIcon {
    width: 4mm;
  }

  @media print {
    display: none;
  }
}
