$progressBarColor: #000000c2;
$progressBarHeight: 2mm;

#languages {
  display: grid;
  grid-template-columns: 10mm auto;
  grid-template-rows: auto;
  grid-template-areas:
    'icon title'
    'languagesList languagesList';
  width: 100%;
  margin-top: 15mm;

  img {
    grid-area: icon;
    align-self: center;
    width: 7mm;
  }

  > h1 {
    grid-area: title;
    align-self: center;
    font-size: 6mm;
    font-weight: 600;
  }

  .languagesList {
    grid-area: languagesList;

    h2 {
      font-size: 4mm;
      font-weight: 500;
      margin-bottom: 2mm;

      span {
        margin-left: 1mm;
        font-weight: normal;
        font-size: 3mm;
        color: #00000098;
      }
    }
  }
}
