body {
  margin: 0;
  justify-content: center;
  display: flex;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1 {
  margin: 0;
}

@media print {
  body {
    width: initial !important;
  }
}
